---
import NavBar from '../components/NavBar.astro';
const { title = "Work" } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
</head>
<body>
<header>
    <NavBar />
</header>
<main>
    <slot />
</main>
</body>
</html>
